/.vs/LQExtension/v15/Server/sqlite3/db.lock
/LQExtension.Api/bin
/LQExtension.Api/obj
/LQExtension.BLL/obj
/LQExtension.BLL/bin
/LQExtension.Common/bin
/LQExtension.Common/obj
/LQExtension.DAL/obj
/LQExtension.DAL/bin
/LQExtension.DBUtility/bin
/LQExtension.DBUtility/obj
/LQExtension.Model/obj
/LQExtension.Model/bin
/.vs/LQExtension/v15/.suo
/obj
/.vs
/bin
/LQExtension.Api/log
/LQExtension.Api/lib
/LQExtension.DAL.Impl/bin
/LQExtension.DAL.Interface/bin
/LQExtension.BLL.Interface
/LQExtension.DAL.Impl
/LQExtension.DAL.Interface
/LQExtension.BLL.Impl
/TestResults
/LQExtension.MSTest/bin/Debug
/LQExtension.MSTest/obj
/LQExtension.ECangService/obj
/LQExtension.ECangService/bin
